@font-face {
  font-family: "firaGO";
  src: url("/fonts/FiraGO-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%; /* 1 rem = 10px */
  width: 192rem; /* 1920px */
  scroll-behavior: smooth;
}
body {
  width: 100%;
  line-height: 1;
  font-weight: 400;
  font-family: "FiraGO", sans-serif;
  color: #212529;
  overflow-x: hidden;
  background-color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  row-gap: 3rem;
  column-gap: 5.2rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
