/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 12rem;
}

.nav-list {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6;
  gap: 4rem;
}

.nav-link {
  border: 1px solid #8338ec;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  border-color: #b588f4;
}

.cta-link {
  display: flex;
  justify-content: center;
  padding: 0.7rem 2rem;
  align-items: center;
  gap: 4px;
  background-color: #8338ec;
  color: #fff;
}

.cta-link:hover {
  background-color: #b588f4;
}

/* MAIN SECTION */
.container {
  padding: 3rem 12rem;
}
h1 {
  font-weight: 600;
  font-size: 3.4rem;
  margin-bottom: 5rem;
}

.filter-container {
  margin-bottom: 8rem;
}

.filter-links {
  display: flex;
  border: 1px dotted #dee2e6;
  border-radius: 10px;
  font-size: 1.6rem;
  gap: 4.5rem;
}

.filter-link {
  padding: 1rem 1.8rem;
}

.filter-link img {
  margin-left: 8px;
}

/* statuses */

.status-title {
  font-weight: 500;
  font-size: 2rem;
  padding: 15px 0;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.status-0 {
  background-color: #f7bc30;
}

.status-1 {
  background-color: #fb5607;
}

.status-2 {
  background-color: #ff006e;
}

.status-3 {
  background-color: #3a86ff;
}
