/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 12rem;
}

.nav-list {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6;
  gap: 4rem;
}

.nav-link {
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.cta-link {
  display: flex;
  justify-content: center;
  padding: 0.7rem 2rem;
  align-items: center;
  gap: 4px;
}

.cta-link:hover {
  background-color: #b588f4;
}

/* MAIN SECTION */
.container {
  padding: 3rem 12rem;
}

/* filters */

.filter-container {
  margin-bottom: 7.9rem;
}

.filter-links {
  display: flex;
  width: max-content;
  border: 1px dotted #dee2e6;
  border-radius: 10px;
  font-size: 1.6rem;
  gap: 4.5rem;
}

.filter-link {
  padding: 1rem 1.8rem;
}

.filter-link img {
  margin-left: 8px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  position: absolute;
  top: 288px;
  left: 118px;
  width: 688px;
  max-height: max-content;

  font-size: 16px;
  padding: 4rem 3rem 2rem 3rem;
  border: 0.5px solid #8338ec;
  background-color: #fff;
  border-radius: 10px;
  z-index: 100;
}

.filtration-links {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 16rem;
  gap: 2.2rem;
}
.filtration-links li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.filtration-links img {
  cursor: pointer;
}

.filter-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-avatar {
  width: 28px;
  max-height: 28px;
  border-radius: 50%;
}

.filter-btn {
  width: 155px;
  align-self: flex-end;
  font-size: 16px;
  border: none;
  border-radius: 2rem;
  padding: 8px 2rem;
  cursor: pointer;
}
/* statuses */

.status-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.status-title {
  font-weight: 500;
  font-size: 2rem;
  padding: 15px 0;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.status-0 {
  background-color: #f7bc30;
}

.status-1 {
  background-color: #fb5607;
}

.status-2 {
  background-color: #ff006e;
}

.status-3 {
  background-color: #3a86ff;
}

/* tasks */

.card {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: 2rem;
  border-radius: 1.5rem;
  font-size: 14px;
}

.task-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.content {
  margin: 0 3rem;
}

.tags {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comments,
.priority {
  display: flex;
  align-items: center;
  gap: 4px;
}

.priority {
  padding: 4px;
  border-radius: 5px;
}

.department {
  width: 88px;
  background-color: #ff66a8;
  color: #fff;
  padding: 5px 9px;
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  border-radius: 50%;
}

/* MODAL  */
.modal-overlay {
  z-index: 999;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 15, 16, 0.15);
  backdrop-filter: blur(4px);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 91.3rem;
  border: none;
  border-radius: 1rem;
  background-color: #fff;
  padding: 4rem 5rem 6rem 5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);

  z-index: 1000;
}

.modal-cancel-svg {
  float: right;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  color: #343a40;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  margin-top: 11.7rem;
}

.modal-content input,
.modal-content select {
  padding: 1rem;
  border-radius: 6px;
  border: 2px solid #ced4da;
}

.modal-content select {
  width: 50%;
  justify-self: start;
}

.modal-header {
  text-align: center;
  color: #212529;
  font-size: 3.2rem;
  font-weight: 500;
}
.modal-row {
  display: flex;
  gap: 4.5rem;
}

.modal-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 6px;
}

.requirements {
  font-size: 1rem;
  font-weight: 350;
}

.check {
  color: #6c757d;
  font-size: 1.6rem;
  font-weight: 600;
}

.form-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 12rem;
  border-radius: 8px;
  border: 1px dashed #ced4da;
}

.avatar-label {
  cursor: pointer;
}

.file-input {
  display: none;
}

.modal-btns {
  float: right;
  gap: 2.2rem;
}

.modal-cancel {
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 1rem 1.6rem;
  cursor: pointer;
}

.modal-add {
  border: none;
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
